* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Fraunces";
  src: url(/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}
:root {
  /*colors*/
  --bg-color: #ffffff;
  --text-color: #ffffff;
  --top-bg-color: #24053e;
  --alt-text-color: #24053e;
  --middle-bg-color: #fcf8ff;
  --svg-color: #584d62;
  --svg-hover-color: #24053e;
  --highlight-hover-color: #44ffa1;
  --btn-bg-color: #44ffa1;
  --btn-text-color: #24053e;
  --btn-hover-bg-color: #24053e;
  --btn-hover-text-color: #44ffa1;

  /*typography*/
  --heading-f-f: "Fraunces", serif;
  --text-f-f: "Manrope", sans-serif;
  --h1-weight: 600;
  --h1-font-size: 3rem;
  --h1-line-height: 100%;
  --h2-weight: 600;
  --h2-font-size: 2rem;
  --h2-line-height: 120%;
  --h3-weight: 600;
  --h3-font-size: 2rem;
  --h3-line-height: 120%;
  --par-weight: 400;
  --par-font-size: 1rem;
  --par-line-height: 180%;
  --btn-weight: 700;
  --btn-font-size: 1.125rem;
  --btn-line-height: 150%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--text-f-f);
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}
header {
  background-color: var(--top-bg-color);
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  margin-inline: 1.25em;
  padding-bottom: 1em;
}
.light-logo {
  background-image: url(assets/images/logo-light.svg);
  background-size: cover;
  width: 5.985em;
  height: 1.538em;
}
.nav-btn {
  line-height: var(--btn-line-height);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-weight);
  text-underline-offset: 0.5em;
  text-decoration-thickness: 0.188em;
  color: var(--text-color);
  text-decoration-color: var(--highlight-hover-color);
}
.nav-btn:hover {
  color: var(--highlight-hover-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 250% 250px;
  border-bottom-right-radius: 250% 250px;
  position: relative;
  overflow-x: hidden;
  min-width: 100%;
  left: 0%;
  color: var(--text-color);
  background-color: var(--top-bg-color);
  min-height: 24.375em;
  overflow-y: visible;
  z-index: 2;
}

h1 {
  font-family: var(--heading-f-f);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-weight);
  margin-block-end: 0.833em;
  line-height: var(--h1-line-height);
  padding-inline: 1em;
}
.underlined {
  text-decoration: underline 0.063em;
  text-decoration-color: var(--highlight-hover-color);
  text-underline-offset: 0.1em;
}
button {
  font-size: var(--btn-font-size);
  font-weight: var(--btn-weight);
  background-color: var(--highlight-hover-color);
  border: solid 0.063em var(--highlight-hover-color);
  color: var(--top-bg-color);
  padding-inline: 1.778em;
  padding-block: 0.667em;
}
button:hover {
  background-color: var(--top-bg-color);
  color: var(--highlight-hover-color);
}
.hero-img {
  position: absolute;
  background-image: url(assets/images/image-hero.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  height: 11.5em;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 29em;
}
.middle-container {
  padding-inline: 1.111em;
  background-color: var(--middle-bg-color);
  border-bottom-left-radius: 250% 250px;
  border-bottom-right-radius: 250% 250px;
  position: relative;
  overflow-x: hidden;
  min-width: 100%;
  left: 0%;
  top: -2em;
  z-index: 1;
  padding-bottom: 3em;
}
.middle-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--h2-weight);
  font-size: 1.25rem;
  font-family: var(--heading-f-f);
  border: solid var(--top-bg-color) 0.063em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1.5em;
}
.one {
  margin-top: 13em;
}
h2 {
  font-family: var(--heading-f-f);
  font-weight: var(--h2-weight);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  margin-bottom: 0.5em;
  color: var(--alt-text-color);
}
.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-content p {
  color: var(--alt-text-color);
  font-size: var(--par-font-size);
  font-weight: var(--par-weight);
  line-height: var(--par-line-height);
  margin-bottom: 1.778em;

}

.bottom-container {
  padding-inline: 1.111em;
}
.author-img {
  position: absolute;
  background-image: url(assets/images/image-founder.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 13em;
  height: 13em;
  z-index: -1;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}
.info-box {
  background-color: var(--top-bg-color);
  color: var(--text-color);
  padding: 1.778em;
  margin-top: 16.5em;
  margin-bottom: 5em;
}
h3 {
  font-family: var(--heading-f-f);
  font-weight: var(--h3-weight);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  margin-bottom: 1em;
}
.info-box p {
  font-size: var(--par-font-size);
  font-weight: var(--par-weight);
  line-height: var(--par-line-height);
  margin-bottom: 2em;
}

.dark-logo {
  background-image: url(assets/images/logo-dark.svg);
  background-size: cover;
  width: 5.985em;
  height: 1.538em;
  margin: auto;
  margin-bottom: 3em;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
.social-link {
  margin-inline: 0.875em;
}
.social-link svg {
  fill: var(--svg-color);
}
.social-link svg:hover {
  fill: var(--svg-hover-color);
}
@media (min-width: 375px) {
  .hero-img {
    width: 20em;
    top: 29em;
  }
}
@media (min-width: 768px) {
  .container{
    overflow-x: visible;
  }
  .top-container {
    background-image: url(assets/images/bg-pattern-1.svg),
      url(assets/images/bg-pattern-2.svg);
    background-position:  -40% 10%, 115% 65%;
    background-repeat: no-repeat;
    
      overflow-x: visible;
  }

  .top-nav {
    padding-inline: 2.444em;
  }
  h1 {
    padding-inline: 3em;
    font-size: 3.75em;
  }
  .hero-img {
    background-size: contain;
    top: 25em;
    width: 30em;
    height: 18em;
  }
  .middle-container {
    padding-inline: 2.75em;
    text-align: left;
    padding-top: 15em;
    padding-bottom: 7.25em;
  }

  .middle-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .middle-number {
    margin-right: 2em;
    padding-inline: 1.2em;
    margin-left: 0;
  }
  .one {
    margin-left: 0;
    margin-top: 5em;
  
  }
  h2 {
    margin-bottom: 1em;
    margin-top: 1.143em;
  }

  .middle-content p {
    margin-bottom: 0;
  }
  .bottom-container {
    padding-left: 10.9em;
    padding-right: 7.75em;
    text-align: left;
  }
  .author-img {
    margin-left: 2.75em;
  }
  .info-box {
    margin-top: 12.8em;
  }
  .svg-container {
    position: absolute;
    width: auto;
    margin-top: -9em;
    right: 7.5em;
  }
  .svg-3 {
    position: relative;
    background-image: url(assets/images/bg-pattern-3.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 10.813em;
    height: 8.563em;
    z-index: 2;
  }
}

@media (min-width: 1000px) {
  .top-container{
   padding-block-end: 18em;
   padding-block-start: 3em;
   background-position:  -20% 10%, 105% 65%;
  }
  h1{
    font-size: 5rem;
    padding-inline: 3em;
  }
  .hero-img{
    width:40.938em ;
    height: 20.563em;
    top: 30em;
  }
  .middle-container {
    display: flex;
    text-align: center;
    padding-inline: 2em;
    padding-top: 16em;
  }
  .middle-content {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .one {
    margin-top: 0;
  }
  .middle-content p {
    margin-inline: 2em;
    
  }
}
@media (min-width:1440px) {
  .top-container{
    background-position:  -9% 10%, 103% 65%;
   }
   h1{
     padding-inline: 5em;
   }
   .hero-img{
     width:47.938em ;
     height: 27.563em;
     top: 30em;
   }
   .middle-container{
    padding-top: 22em;
   }
   .bottom-container {
    padding-left: 32.375em;
    padding-right: 15em;
  }
   .author-img{
    width: 27.938em;
    height:27.938em;
    margin-left: 10em;
   }
   .info-box{
    margin-top: 16em;
    padding: 4em;
   }
   h3{
    font-size: 3.5rem;
    margin-bottom: .571em;
   }
   .svg-container {
    position: absolute;
    width: auto;
    margin-top: -10em;
    right: 20.5em;
  }
  .svg-3 {
    width: 10.813em;
    height: 8.563em;
  }
}